<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head data-th-fragment="header">
    <meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-3.1.1.min.css" data-th-href="@{/resources/css/bootstrap-3.1.1.min.css}"/>
	<link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-theme-3.1.1.min.css" data-th-href="@{/resources/css/bootstrap-theme-3.1.1.min.css}"/>
	<script type="text/javascript" src="../../resources/js/jquery-1.11.0.min.js" data-th-src="@{/resources/js/jquery-1.11.0.min.js}"></script>
	<script type="text/javascript" src="../../resources/js/bootstrap-3.3.3.min.js" data-th-src="@{/resources/js/bootstrap-3.3.3.min.js}"></script>
	<title data-th-text="#{admin.page.title}">Title</title>
</head>

<body>
<h1 data-th-text="#{admin.page.title}">Title</h1>
<p>
<a href="strategy/list.html">Strategy list</a><br/>
</p>
</body>
</html>